<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>11_条件渲染</title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <div id="root">
    <!-- v-show控制display -->
    <h2 v-show="true">你好!!{{name}}</h2>

    <!-- v-if控制dom节点是否存在 -->
    <h2 v-if="true">你好!!{{name}}</h2>

    <!-- v-if和v-else-if和v-else -->
    <h2>当前的num值是:{{num}}</h2>
    <button @click="num++">点击+1</button>
    <div v-if="num===1">Angular</div>
    <div v-else-if="num===2">React</div>
    <div v-else-if="num===3">Vue</div>
    <div v-else>JQuery</div>

    <!-- v-if和template, template不影响结构 -->
    <template v-if="num===2">
      <h2>你好</h2>
      <h2>你好好</h2>
      <h2>你好好好</h2>
    </template>
  </div>
  <script>
    new Vue({
      el:'#root',
      data:{
        name:'wuyanzu',
        num:0
      }
    })
  </script>
</body>
</html>