<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>1.列表渲染</title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <div id="root">
    <!-- 遍历数组 -->
    <ul>
      <li v-for="(hero,index) in heros" :key="hero.id">{{hero.name}}-{{hero.age}}-{{index}}</li>
    </ul>
    <!-- 遍历对象 -->
    <ul>
      <li v-for="(value,key) of car" :key="key">{{key}}-{{value}}</li>
    </ul>
    <!-- 遍历字符串 -->
    <ul>
      <li v-for="(value, index) of str" :key="index">{{index}}-{{value}}</li>
    </ul>
    <!-- 遍历指定次数 -->
    <ul>
      <li v-for="(number, index) of 6" :key="index">{{index}}-{{number}}</li>
    </ul>
  </div>
  <script>
    new Vue({
      el:'#root',
      data:{
        heros:[
          {id:'1',name:'轮子妈',age:18},
          {id:'2',name:'金克丝',age:19},
          {id:'3',name:'布隆',age:20},
        ],
        car:{
          name:'奥迪A8',
          price:'50万',
          color:'黑色'
        },
        str:'helloWorld'
      }
    })
  </script>
</body>
</html>