<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3.列表过滤</title>
  <script src="../js/vue.js"></script>
</head>

<body>
  <div id="root">
    <input type="text" placeholder="请输入名字" v-model="keyWord">
    <ul>
      <li v-for="(person,index) in filterPersons" :key="index">
        {{person.name}}-{{person.age}}-{{index}}
      </li>
    </ul>
  </div>
  <script>
    /**
     * 1. arr.filter((每一项)=>{各种条件;return true/false}) 用来过滤数组,不改变原数组,返回新数组, true 留下,false 被过滤
     * 2. arr.includes(searchElement, fromIndex)  从fromIndex开始查找存不存在searchElement, true存在
     *    fromIndex >= arr.length时, 返回false, 不会查询; fromIndex < 0时, 按升序从 arr.length + fromIndex 的索引开始搜索;
     *    计算出的索引仍然 < 0时, 整个数组都被搜索
    */
    /* watch实现 */
    //#region
    /* new Vue({
      el: '#root',
      data: {
        keyWord: '',
        persons: [
          { id: '1', name: '马冬梅', age: 18, sex: '女' },
          { id: '2', name: '周冬雨', age: 19, sex: '女' },
          { id: '3', name: '周杰伦', age: 20, sex: '男' },
          { id: '4', name: '温兆伦', age: 21, sex: '男' },
        ],
        filterPersons:[]
      },
      watch: {
        keyWord:{
          immediate:true,
          handler(value) {
            this.filterPersons = this.persons.filter((person) => {
              return person.name.includes(value);
            })
          }
        }
      }
    }) */
    //#endregion


    /* conputed实现 */
    new Vue({
      el: '#root',
      data: {
        keyWord: '',
        persons: [
          { id: '1', name: '马冬梅', age: 18, sex: '女' },
          { id: '2', name: '周冬雨', age: 19, sex: '女' },
          { id: '3', name: '周杰伦', age: 20, sex: '男' },
          { id: '4', name: '温兆伦', age: 21, sex: '男' },
        ],
      },
      computed:{
        filterPersons(){
          return this.persons.filter((person)=>{
            return person.name.includes(this.keyWord)
          })
        }
      }
    }) 
  </script>
</body>

</html>