<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>4.列表排序</title>
  <script src="../js/vue.js"></script>
</head>

<body>
  <div id="root">
    <input type="text" placeholder="请输入名字" v-model="keyWord">
    <button @click="changeSort(1)">升序</button>
    <button @click="changeSort(2)">降序</button>
    <button @click="changeSort(0)">原排序</button>
    <ul>
      <li v-for="(person,index) in filterPersons" :key="person.id">
        {{person.name}}-{{person.age}}-{{index}}
      </li>
    </ul>
  </div>
  <script>
    new Vue({
      el: '#root',
      data: {
        keyWord: '',
        sortType: 0,
        persons: [
          { id: '1', name: '马冬梅', age: 30, sex: '女' },
          { id: '2', name: '周冬雨', age: 19, sex: '女' },
          { id: '3', name: '周杰伦', age: 10, sex: '男' },
          { id: '4', name: '温兆伦', age: 21, sex: '男' },
        ],
      },
      computed: {
        filterPersons() {
          // 数组的filter过滤方法不会改变原数组
          const arr = this.persons.filter((person) => {
            return person.name.includes(this.keyWord)
          })
          if (this.sortType) {
            /** 数组的sort排序方法会改变原数组
             *  arr.sort() 默认按字符编码的顺序进行排序; 
             *  arr.sort((a,b)=>{return a-b或者b-a})  升序用a-b, 降序用b-a 
             */
            arr.sort((p1, p2) => {
              return this.sortType === 1 ? p1.age - p2.age : p2.age - p1.age
            })
          }
          return arr
        }
      },
      methods: {
        changeSort(value) {
          this.sortType = value;
        }
      },
    }) 
  </script>
</body>

</html>