<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>9.总结Vue数据监测</title>
  <script src="../js/vue.js"></script>
</head>

<body>
  <div id="root">
    <button @click='age.rAge++'>虚岁+1岁</button>
    <button @click='addSex'>朋友添加性别属性, 默认男</button>
    <button @click='addFriends'>列表首位添加一个朋友</button>
    <button @click='changeName'>修改第一个朋友的名字</button>
    <button @click='addHobby'>添加爱好</button>
    <button @click='changeHobby'>修改第一个爱好为开车</button>
    <button @click='sortFriendsByAge'>对朋友们进行年龄升序排序</button>
    <h2>姓名: {{name}}</h2>
    <h2>性别: {{sex}}</h2>
    <h2>年龄: 虚岁:{{age.rAge}}---周岁:{{age.sAge}}</h2>
    <hr>
    <h2>朋友们:</h2>
    <ul>
      <li v-for='(item, index) in friends' :key="item.id">
        姓名:{{item.name}}--年龄:{{item.age}}
        <span v-if="item.sex">--性别:{{item.sex}}</span>
        <span v-if="item.hobby">--爱好:{{item.hobby}}</span>
      </li>
    </ul>
  </div>
  <script>
    const vm = new Vue({
      el: '#root',
      data() {
        return {
          name: 'wuyanzu',
          sex: 'male',
          age: {
            rAge: 24,
            sAge: 20
          },
          friends: [
            { id: 1, name: 'baixixu', age: 30 },
            { id: 2, name: 'chaiyuanyuan', age: 31 },
          ]
        }
      },
      methods: {
        addSex(){
          Vue.set(this.friends[0],'sex','男')
        },
        addFriends(){
          this.friends.unshift({ id: 0, name: 'liangzhihui', age: 40 },)
        },
        changeName(){
          this.friends[0].name = 'zhangsan'
        },
        addHobby(){
          this.friends.forEach(element => {
            if (element.hobby) {
              return
            } else {
              Vue.set(element,'hobby','打Apex')
            }
          });
        },
        changeHobby(){
          if (this.friends[0].hobby) {
            this.friends[0].hobby = '玩LOL'
          }else{
            alert('暂无爱好, 请先添加!')
          }
        },
        sortFriendsByAge(){
          this.friends.sort((a, b) => {
            return a.age - b.age
          })
        }
      },
    })
  </script>
</body>

</html>