<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>1.名字案例_插值语法</title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <div id="root">
    <div>
      姓: <input type="text" v-model='xing'>
    </div>
    <div>
      名: <input type="text" v-model='ming'>
    </div>
    全名: {{xing}}-{{ming}}
  </div>
  <script>
    const vm = new Vue({
      el:'#root',
      data(){
        return {
          xing:'an',
          ming:'likun'
        }
      },
    })
</script>
</body>
</html>