<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3.名字案例_computed实现</title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <div id="root">
    <div>
      姓: <input type="text" v-model='firstName'>
    </div>
    <div>
      名: <input type="text" v-model='lastName'>
    </div>
    全名: {{fullName}}
  </div>
  <script>
    const vm = new Vue({
      el:'#root',
      data(){
        return {
          firstName:'an',
          lastName:'likun'
        }
      },
      computed:{
        /* 计算属性的完整写法 */
        /* fullName:{
          // 与数据代理的Object.defineProperty方法相同, 读取fullname时触发get函数, 返回fullName的值
          // get什么时候被调用: 1. 初次被读取fullName; 2. fullName所依赖的数据发生变化时
          get(){
            console.log('fullname被读取');
            return this.firstName+'-'+this.lastName
          },
          // 如果计算属性需要被修改, 那一定要写set函数, 且要去响应修改, 如下代码, 更改了firstName和lastName
          // set什么时候被调用: 当fullName被修改时
          set(value){
            console.log('fullname被修改成', value);
            const arr = value.split('-');
            this.firstName = arr[0];
            this.lastName = arr[1];
          }
        } */
        /* 计算属性的简写, 只有当计算属性确定不会被修改时使用 */
        fullName() {
          console.log('fullname被读取');
          return this.firstName + '-' + this.lastName
        }
      }
    })
</script>
</body>
</html>